<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @luboyrodremontum.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @luboyrodremontum.description %>
</p>

<%= link_to 'Edit', edit_luboyrodremontum_path(@luboyrodremontum) %> |
<%= link_to 'Back', luboyrodremonta_path %>
