<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @shinniyservice.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shinniyservice.description %>
</p>

<%= link_to 'Edit', edit_shinniyservice_path(@shinniyservice) %> |
<%= link_to 'Back', shinniyservices_path %>
