<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kachestvomoyka.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kachestvomoyka.description %>
</p>

<%= link_to 'Edit', edit_kachestvomoyka_path(@kachestvomoyka) %> |
<%= link_to 'Back', kachestvomoykas_path %>
