<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostmaslo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostmaslo.description %>
</p>

<%= link_to 'Edit', edit_hostmaslo_path(@hostmaslo) %> |
<%= link_to 'Back', hostmaslos_path %>
