<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @certpodveska.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certpodveska.description %>
</p>

<%= link_to 'Edit', edit_certpodveska_path(@certpodveska) %> |
<%= link_to 'Back', certpodveskas_path %>
