<p id="notice"><%= notice %></p>

<h1>Listing Noteposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @noteposts.each do |notepost| %>
      <tr>
        <td><%= notepost.title %></td>
        <td><%= notepost.description %></td>
        <td><%= link_to 'Show', notepost %></td>
        <td><%= link_to 'Edit', edit_notepost_path(notepost) %></td>
        <td><%= link_to 'Destroy', notepost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notepost', new_notepost_path %>
