<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @certobsluzhi.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certobsluzhi.description %>
</p>

<%= link_to 'Edit', edit_certobsluzhi_path(@certobsluzhi) %> |
<%= link_to 'Back', certobsluzhis_path %>
