<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @kapitalremont.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @kapitalremont.description %>
</p>

<%= link_to 'Edit', edit_kapitalremont_path(@kapitalremont) %> |
<%= link_to 'Back', kapitalremonts_path %>
