<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostgaranty.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostgaranty.description %>
</p>

<%= link_to 'Edit', edit_hostgaranty_path(@hostgaranty) %> |
<%= link_to 'Back', hostgaranties_path %>
