<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostvremy.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostvremy.description %>
</p>

<%= link_to 'Edit', edit_hostvremy_path(@hostvremy) %> |
<%= link_to 'Back', hostvremies_path %>
