<%= form_for @baner, :html => { :class => "form-horizontal baner" } do |f| %>

  <% if @baner.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@baner.errors.count, "error") %> prohibited this baner from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @baner.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image_uid, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :image_uid, :class => 'form-control' %>
    </div>
    <%=f.error_span(:image_uid) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                baners_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
