<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostmoyka.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostmoyka.description %>
</p>

<%= link_to 'Edit', edit_hostmoyka_path(@hostmoyka) %> |
<%= link_to 'Back', hostmoykas_path %>
