<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @obsluzhivany.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @obsluzhivany.description %>
</p>

<%= link_to 'Edit', edit_obsluzhivany_path(@obsluzhivany) %> |
<%= link_to 'Back', obsluzhivanies_path %>
