<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @certkapital.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certkapital.description %>
</p>

<%= link_to 'Edit', edit_certkapital_path(@certkapital) %> |
<%= link_to 'Back', certkapitals_path %>
