<p id="notice"><%= notice %></p>

<h1>Listing Akciis</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @akciis.each do |akcii| %>
      <tr>
        <td><%= akcii.title %></td>
        <td><%= akcii.description %></td>
        <td><%= akcii.image_uid %></td>
        <td><%= link_to 'Show', akcii %></td>
        <td><%= link_to 'Edit', edit_akcii_path(akcii) %></td>
        <td><%= link_to 'Destroy', akcii, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Akcii', new_akcii_path %>
