<%= form_for(@zamenamaslo) do |f| %>
  <% if @zamenamaslo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zamenamaslo.errors.count, "error") %> prohibited this zamenamaslo from being saved:</h2>

      <ul>
      <% @zamenamaslo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
