<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @zamenamaslo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zamenamaslo.description %>
</p>

<%= link_to 'Edit', edit_zamenamaslo_path(@zamenamaslo) %> |
<%= link_to 'Back', zamenamaslos_path %>
