<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostlishnee.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostlishnee.description %>
</p>

<%= link_to 'Edit', edit_hostlishnee_path(@hostlishnee) %> |
<%= link_to 'Back', hostlishnees_path %>
