<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @certelectro.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @certelectro.description %>
</p>

<%= link_to 'Edit', edit_certelectro_path(@certelectro) %> |
<%= link_to 'Back', certelectros_path %>
