<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @hostpodzamenu.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @hostpodzamenu.description %>
</p>

<%= link_to 'Edit', edit_hostpodzamenu_path(@hostpodzamenu) %> |
<%= link_to 'Back', hostpodzamenus_path %>
