<p id="notice"><%= notice %></p>

<h1>Listing Newposts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @newposts.each do |newpost| %>
      <tr>
        <td><%= newpost.title %></td>
        <td><%= newpost.description %></td>
        <td><%= link_to 'Show', newpost %></td>
        <td><%= link_to 'Edit', edit_newpost_path(newpost) %></td>
        <td><%= link_to 'Destroy', newpost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newpost', new_newpost_path %>
